body {
    background-color: cream;
    position: relative;
  }
  body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.2;
  
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQwzL0F_s_fZmZO8mPFmXPL1a7l8S38QV9HhA&usqp=CAU);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  * {
    box-sizing: border-box;
    overflow-x: hidden;
  }
  
  h1 {
    text-align: center;
    font-size: 40px;
  }
  
  /*Pictures of Nelson Mandela*/
  
  .nelson-pics {
    display: grid;
    width: 100%;
    grid-template-columns: 35% 35% 35%;
    text-align: center;
  }
  
  /*Articles including details about Nelson*/
  article {
    font-size: 20px;
    margin-top: 20px;
  }
  
  /*Notable Events*/
  .notable-events {
    font-size: 20px;
  }
  
  .notable-events p {
    text-decoration: underline;
    font-size: 23px;
    margin-top: 40px;
    text-align: center;
    font-family: Arial;
  }
  
  li {
    margin-top: 7px;
  }
  
  strong {
    font-style: italic;
  }
  
  /*Famous Quotes*/
  .inspirational-quotes {
    text-align: center;
    margin-top: 30px;
    font-size: 22px;
    text-decoration: underline;
    font-family: Arial;
  }
  
  .quotes p {
    font-size: 22px;
  }
  
  q {
    font-size: 20px;
    margin-top: -10px;
    margin-bottom: 10px;
  }
  
  aside {
    font-size: 20px;
  }